.body {
    font-family:"Roboto", system-ui;
    background-color: #F7ECDE;
  }
  
  h1,
  h2 {
    font-weight: 500;
  }
  
  h1 {
    font-family: "Pacifico", cursive;
    font-size: 50px;
    position: relative;
    width: fit-content;
    color: white;
  }
  
  h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 35%;
    bottom: 0%;
    left: 0;
    background-color: #fec260;
    z-index: -1;
    transition: all 1s;
    margin-bottom: 0 ;
  }
  
  h1:hover::after {
    height: 70%;
  }
  
 .book-content h2 {
    font-family: "Righteous", sans-serif;
    font-size: 25px;
    background-image:linear-gradient(to right, #3ca55c, #ffc107);
    background-clip: text;
    color: transparent;
    border-width: 2px 0 0px 0;
    border-style: dotted;
    border-color: black;
  }
  
  span {
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
  
  span:nth-child(1) {
    background-color: #f15f5d;
  }
  
  span:nth-child(2) {
    background-color: #febe2e;
  }
  
  span:nth-child(3) {
    background-color: #4db748;
  }
  
  .inputs {
    border-width: 0px 0 2px 0;
    border-style: dotted;
    border-color: #f7f1ed;
  }
  
  #submitBtn {
    background-color: #d1512d;
    color: white;
  }
  
  #submitBtn:hover {
    background-color: #bb4120;
  }
  
  .btn-visit {
    background-color: #9eb23b;
    color: white;
  }
  
  .btn-visit:hover {
    background-color: #8a9e23;
    color: white;
  }
  
  .btn-delete {
    background-color: #eb1d36;
    color: white;
  }
  
  .btn-delete:hover {
    background-color: #d30820;
    color: white;
  }
  
  .form-control:focus {
    border-color: #d99c39;
    box-shadow: 0 0 0 0.25rem #fec26055;
  }

  ul i {
    color: red;
  }